<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio Bruno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="Icon" href="/static/portfolio.png" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__dir">
            <a href="/templates/#btn_sobre" class="cabecalho__dir__itens">Sobre</a>
            <a href="/templates/#btn_projetos" class="cabecalho__dir__itens">Projetos</a>
            <a href="/templates/#btn_contatos" class="cabecalho__dir__itens">Contato</a>
            <a href="/static/Cv Bruno Sigrist.pdf" target="_blank" download="Cv Bruno Sigrist.pdf" class="cabecalho__resume">Currículo</a>
        </div>
    </header>
    <main class="classe_principal">
        <section class="container principal">
            <div class="principal__pagUm">
                <h4 class="principal__pagUm__titulo" id="btn_sobre">Olá, meu nome é</h4>
                <h1 class="principal__pagUm__nome">Bruno Milezi Sigrist</h1>
                <p class="principal__pagUm__sobre">
                    Sou Bruno Milezi Sigrist, estudante de ciência da computação. Como um estudante de Ciência da Computação apaixonado por tecnologia, estou em constante busca por aprimoramento e evolução. Tenho proficiência em diversas linguagens de programação, incluindo Python, Java, C e C++. Além disso, possuo conhecimento em HTML e CSS, o que me capacita a criar soluções inovadoras e eficientes. A minha habilidade de raciocínio lógico me permite identificar e resolver problemas de maneira ágil, resultando na entrega de soluções de alta qualidade dentro dos prazos estipulados. Destaco a minha capacidade de lidar eficientemente com prazos e a constante busca por novas formas de aprimorar os meus conhecimentos. O meu objetivo profissional é contribuir significativamente para o desenvolvimento de projetos desafiadores, aplicando as minhas habilidades de forma a superar expectativas e alcançar resultados excepcionais.
                </p>
            </div>
        </section>

        <section class="container secundario">
            <h2 class="secundario__pagDois__Titulo" id="btn_projetos">Projetos</h2>
            <div class="secundario__projeto_1">
                <img class="img__representacaoProjeto" src="/static/Carro.png" alt="Imagem Ilustrativa destinada ao projeto 1">
                <div class="secundario__descricao">
                    <h4 class="projetos"><strong><u>Projeto:</u></strong> <a href="https://github.com/BrunoMSZ/Desafio_Java_APIFIPE" target="_blank"><u>Tabela Fipe - API</u><img class="img__link__projeto" src="/static/link.png" alt="Imagem de link"></a></h4>
                    <p class="descricao">O projeto Tabela Fipe é caracterizado por possuir um sistema de consulta da tabela fipe, tabela na qual expressa o preço médio dos veículos dentro do mercado nacional, por meio do consumo da api pública tabela fipe e a utilização de linguagem de programação java a fim de relatar os preços médios da maioria das categorias veiculares do mercado nacional, como motocicletas, carros e caminhões.</p>
                    <p class="descricao__texto"><u>Linguagem usada:</u></p><p class="descricao__programacao">JAVA</p>
                </div>
            </div>
            <div class="secundario__projeto_2">
                <img class="img__representacaoProjeto" src="/static/trading_resized.png" alt="Imagem Ilustrativa destinada ao projeto 2">
                <div class="secundario__descricao">
                    <h4 class="projetos"><strong><u>Projeto:</u></strong> <a href="https://github.com/BrunoMSZ/Project_TradingWithPython" target="_blank"><u>Trading com Python</u><img class="img__link__projeto" src="/static/link.png" alt="Imagem de link"></a></h4>
                    <p class="descricao">O projeto Trading com Python tem como objetivo mostrar os momentos corretos de venda e compra de ações a partir do mercado financeiro nacional a partir das bibliotecas yfinance, pandas e numpy nas quais possibilita a busca de ações, informações e geração de estatísticas e tabelas sobre a mesma. De maneira geral, esta permite o estudo de determinada ação de maneira completa e de fácil compreensão, mas a partir de conhecimentos gerais sobre o mercado de ações.</p>
                    <p class="descricao__texto"><u>Linguagem usada:</u></p><p class="descricao__programacao">PYTHON</p>
                </div>
            </div>
            <div class="secundario__projeto_3">
                <img class="img__representacaoProjeto" src="/static/Alura Plus_resized.png" alt="Imagem Ilustrativa destinada ao projeto 3">
                <div class="secundario__descricao">
                    <h4 class="projetos"><strong><u>Projeto:</u></strong> <a href="https://github.com/BrunoMSZ/AluraPlus---Estudo-HTML-CSS" target="_blank"><u>Alura Plus</u><img class="img__link__projeto" src="/static/link.png" alt="Imagem de link"></a></h4>
                    <p class="descricao">O projeto Alura Plus tem como objetivo realizar o estudo da programação em HTML e CSS. De maneira ampla, o projeto consiste em um website em que promove o investimento estudantil à plataforma Alura, além de mostrar determinados benefícios e promoções. Tal projeto foi realizado durante os estudos dentro da plataforma Alura.</p>
                    <p class="descricao__texto"><u>Linguagem usada:</u></p><p class="descricao__programacao">HTML</p><p class="descricao__programacao">CSS</p>
                </div>
            </div>
            <div class="secundario__projeto_4">
                <img class="img__representacaoProjeto" src="/static/screen match_resized.jpg" alt="Imagem Ilustrativa destinada ao projeto 4">
                <div class="secundario__descricao">
                    <h4 class="projetos"><strong><u>Projeto:</u></strong> <a href="https://github.com/BrunoMSZ/ScreenMatch_Sem_Web"  target="_blank"><u>Screen Match</u><img class="img__link__projeto" src="/static/link.png" alt="Imagem de link"></a></h4>
                    <p class="descricao">O projeto Screen Match também foi realizado durante o período de estudo dentro da plataforma Alura. Tal projeto possui como objetivo o estudo da linguagem de programação java e determinadas características. Ademais, o projeto é caracterizado por criar um site, voltada para o back-end, clone ao streamings a partir do consumo da api Omdb. Esta aplicação é capaz de buscar qualquer filme ou série atuais, além de relatar quantidade de episódios, duração, dentre outras funções.</p>
                    <p class="descricao__texto"><u>Linguagem usada:</u></p><p class="descricao__programacao">JAVA</p>
                </div>
            </div>
            <div class="principal__pagTres">
                <h2 class="principal__pagTres_titulo"  id="btn_contatos">Contato</h2>
                <div class="terciario__imagens">
                    <div class="terciario__imagens_links">
                        <h4 class="principal__pagTres__tituloRede">Github</h4>
                        <a class="img__contato" href="https://github.com/BrunoMSZ?tab=repositories"  target="_blank"><img src="/static/icone-github-verte_resized.png" alt="Logo Github"></a>
                    </div>
                    <div class="terciario__imagens_links">
                        <h4 class="principal__pagTres__tituloRede">Instagram</h4>
                        <a class="img__contato" href="https://www.instagram.com/brunomilezi/"  target="_blank"><img src="/static/instagram-icone-vert_resized.png" alt="Logo Instagram"></a>
                    </div>
                    <div class="terciario__imagens_links">
                        <h4 class="principal__pagTres__tituloRede">Linkedln</h4>
                        <a class="img__contato" href="https://www.linkedin.com/in/bruno-milezi-sigrist/"  target="_blank"><img src="/static/icone-linkedin-ronde-vert_resized.png" alt="Logo Linkedln"></a>
                    </div>
                </div>
            </div>
        </section>
        <section>
        </section>
        <a href="#" class="btn">Inicio</a>
    </main>
    <footer>
        <h2 class="desenvolvido">Desenvolvido por Bruno Milezi Sigrist ©</h2>
    </footer>
</body>
</html>